<h1>Bob's Burgers</h1>

<h2>Today's Burger Menu</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.ID}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">EAT THE BURGER</button>
        </form>

{{!--         {{> burgers/delete-burger}} --}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burger Hall of Fame</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.ID}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">ADD TO MENU</button>
        </form>

{{!--         {{> burgers/delete-burger}} --}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a new burger:</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Menu or Burger Hall of Fame?</label><br>
    <input type="radio" name="devoured" value="1" checked>Hall of Fame<br>
    <input type="radio" name="devoured" value="0"> Current Menu
  </div>

  <button type="submit">Add Burger</button>
</form>
