<!DOCTYPE html>
<html>
<head>
    <title>Bob's Burgers</title>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">

    <style>

    body {
        /*background-color: #F2F1EF;
*/    }


    </style>
</head>
<body>

<div class="container" style="min-width:100%">
<!-- 
<div class="page-header" style="background-color: yellow; outline: 5px solid red">
  <h1 style="padding-left: 20px; padding-top: 20px; margin-top: -35px; color: red; font-weight: bold">Welcome to Bob's Burgers</h1>
</div> -->



<div class="row">



<div class="col-md-4">
    <h2 style="font-weight: bold; font-size: 30px; color: navy; text-align: center; padding-top: 80px; font-family: 'Permanent Marker', cursive; letter-spacing: 3px"> Burgers of the Day </h2>
    <hr>
</div>

<div class="col-md-4">
    <h1 style="font-size: 50px; color: red; text-align: center;font-family: 'Sigmar One', cursive;  "> Welcome to Bob's </h1>
    <a href="#" class="thumbnail" style="margin-top: 20px">
      <img src="http://i0.kym-cdn.com/entries/icons/original/000/014/700/how-to-draw-bob-bobs-burgers_1_000000007041_5.jpg" alt="...">
    </a>
    <button style="width: 200px; height: 50px">Add a new burger</button>
    <button style="width: 200px; height: 50px"">Edit a burger</button>
    <button style="width: 200px; height: 50px"">Delete a burger</button>
</div>

<div class="col-md-4">
    <h2 style="font-weight: bold; font-size: 30px; color: navy; text-align: center; padding-top: 80px; font-family: 'Permanent Marker', cursive; letter-spacing: 3px"> Burger Hall of Fame </h2>
    <hr>
</div>

</div>

</div>

</body>
</html>